@import "tailwindcss";

body {
    font-family: 'Inter', sans-serif;

}

@theme {
    --background-image-pattern: url("/bg.png");
}


input {
    color-scheme: dark;
}

.rdp-root {
    --rdp-accent-color: #bef264;
    --rdp-accent-background-color: #bef264;
}